In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
adult=pd.read_csv("C:/Users/Administrator/Downloads/adult.csv")
adult.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [2]:
import numpy as np
adult["workclass"].replace("?",np.nan,inplace=True)
adult["occupation"].replace("?",np.nan, inplace=True)
adult["native.country"].replace("?",np.nan,inplace=True)

In [3]:
adult.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,NaN,77053,HS-grad,9,Widowed,NaN,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,NaN,186061,Some-college,10,Widowed,NaN,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [4]:
adult.isna().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     583
income               0
dtype: int64

In [5]:
adult["workclass"].mode()

0    Private
dtype: object

In [6]:
adult["occupation"].mode()

0    Prof-specialty
dtype: object

In [7]:
adult["native.country"].mode()

0    United-States
dtype: object

In [8]:
adult["workclass"].fillna("Private",inplace=True)

In [9]:
adult["occupation"].fillna("Prof-specialty",inplace=True)
adult["native.country"].fillna("United-States",inplace=True)

In [10]:
le=LabelEncoder()

In [11]:
adult["workclass"]=le.fit_transform(adult["workclass"])
adult["education"]=le.fit_transform(adult["education"])
adult["marital.status"]=le.fit_transform(adult["marital.status"])
adult["occupation"]=le.fit_transform(adult["occupation"])
adult["relationship"]=le.fit_transform(adult["relationship"])
adult["race"]=le.fit_transform(adult["race"])
adult["sex"]=le.fit_transform(adult["sex"])
adult["native.country"]=le.fit_transform(adult["native.country"])
adult["income"]=le.fit_transform(adult["income"])

In [22]:
adult.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,3,77053,11,9,6,9,1,4,0,0,4356,40,38,0
1,82,3,132870,11,9,6,3,1,4,0,0,4356,18,38,0
2,66,3,186061,15,10,6,9,4,2,0,0,4356,40,38,0
3,54,3,140359,5,4,0,6,4,4,0,0,3900,40,38,0
4,41,3,264663,15,10,5,9,3,4,0,0,3900,40,38,0

In [17]:
X=adult.iloc[:,:14]
Y=adult["income"]

In [18]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.20,random_state=0)

In [19]:
gb=GaussianNB()
gb.fit(x_train,y_train)
print("gaussian Score=",gb.score(x_test,y_test)*100)
prediction=gb.predict(x_test)

gaussian Score= 79.79425763856901

In [20]:
confusion_matrix(y_test,prediction)

array([[4717,  249],
       [1067,  480]], dtype=int64)